{% extends "base.html" %}
{% block content %}
<h1>Регистрация</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username }}
        {% for error in form.username.errors %}
            <small style="color: red;">{{ error }}</small>
        {% endfor %}
    </div>
    <div>
        {{ form.email.label }}
        {{ form.email }}
        {% for error in form.email.errors %}
            <small style="color: red;">{{ error }}</small>
        {% endfor %}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password }}
        {% for error in form.password.errors %}
            <small style="color: red;">{{ error }}</small>
        {% endfor %}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
{% endblock %}